<div class="card mb-3">
    <div class="row g-0">
      <div class="col-2">
        <img src={{getThumbnail()}} class="img-fluid rounded-start" alt="Book cover">
      </div>
      <div class="col-10">
        <div class="card-body">
          <h6 class="card-title">{{getTitle()}}</h6>
          <p class="card-subtitle text-muted">{{getAuthors()}}</p>
          <p class="card-subtitle text-muted">{{getIsbn()}}</p>
          <div id="expandableInfo" *ngIf="expanded">
            <br>
            Published date
            <p class="text-muted" >{{getPublishedDate()}}</p>
            Page count
            <p class="text-muted" >{{getPageCount()}}</p>
            Description
            <p class="text-muted" >{{getDescription()}}</p>
          </div>
        </div>

      </div>
    </div>
    <button aria-label="expander" id="expander" class="btn" (click)="toggleExpand()">
      <i [ngClass]="{'bi bi-chevron-down': !expanded, 'bi bi-chevron-up strong': expanded }"></i>
    </button>
  </div>
