<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <img src="{{item.volumeInfo.imageLinks.thumbnail}}" class="card-img-top" *ngIf="item.volumeInfo.imageLinks" alt="...">
            </div>
            <div class="col">
                <h6 class="card-title">{{item.volumeInfo.title}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{item.volumeInfo.authors}}</h6>
                <p class="small">{{item.volumeInfo.industryIdentifiers[0].identifier}}</p>
            </div>
        </div>
    </div>
</div>
